@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: auto;
  /* Let Lenis handle smooth scroll */
}

body {
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

/* Optimize rendering performance */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}